/*--------------------------------------Fonts--------------------------------------*/
@font-face {
    font-family: Rubick;
    src: url('fonts/Rubik.ttf');
    font-weight: bold;
}

@font-face {
    font-family: OptimusPrime;
    src: url('fonts/Oxygen-Regular.ttf');
}

/*--------------------------------------Header--------------------------------------*/
header {
    font-size: 20px;
    background-color: #5d48ff;
    min-height: 65px;
}

.header-wrap {

    display: flex;
    max-width: 1240px;
    margin: 0 auto;
}

body {
    margin: 0;
}

header ul {
    padding: 0;
}

header a {
    display: block;
    color: #fff;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

header ul li:first-child {
    margin-left: 0;
}

header nav {
    top: 30%;
}

header ul li {
    margin-left: 15px;
}

header ul li a {
    color: #fff;
}

.login {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

.header-navigation {
    display: flex;

}

/*--------------------------------------adaptive-meny--------------------------------------*/
@media screen and (max-width: 576px) {
    .header-navigation {
        display: block;
        width: 36.6%;
    }

    header .header-navigation ul {
        display: none;
        background-color: #5d48ff;
        width: 31%;
        z-index: 100;
    }

    header .header-navigation ul li {
        margin-left: 0;
        border-bottom: 1px solid #fff;
        transition: 0.5s ease-in-out;
    }

    header .header-navigation ul li:first-child {
        margin-left: 0;
        border-top: 1px solid #fff;
        margin-top: 1px;
    }

    header .header-navigation ul li a {
        padding: 5px 5px 0 5px;
    }

    header .header-navigation ul li:last-child {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    header div .hamburger-menu {
        display: block;
        margin-top: 20px;
        cursor: pointer;
    }

    header .header-navigation ul li a:hover {
        transition: 0.2s ease-in-out;
        background-color: #fff;
        color: #5d48ff;
        height: 100%;
    }

    header .header-navigation ul li a:hover {
        transition: 0.2s ease-in-out;
        background-color: #fff;
    }

    header div .hamburger-menu div {
        transition: 0.5s ease-in-out;
    }

    .active {
        background-color: #5d48ff;
        display: grid !important;
        position: absolute;
        margin-top: 18.4px;
    }

    .first-stick {
        transform: translate(0%, 580%) rotate(45deg);
    }

    .second-stick {
        transition: 0.2s ease-in-out !important;
        opacity: 0;
        visibility: hidden;

    }

    .third-stick {
        transform: translate(0, -580%) rotate(-45deg);
    }

}

@media screen and (min-width: 576px) {
    .active {
        background-color: #5d48ff;
        display: flex;
        position: unset;
        margin-left: 15px;
    }

    header a:after {
        display: block;
        content: "";
        background-color: #fff;
        height: 2px;
        width: 0;
        left: 50%;
        position: absolute;
        -webkit-transition: width .3s ease-in-out;
        -moz-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    header a:hover:after,
    header a:focus:after {
        width: 100%;
    }
}

.hamburger-menu div {
    height: 2px;
    background-color: #fff;
    margin-top: 10px;
}

div .hamburger-menu {
    width: 35px;
    margin-top: 10px;
    display: none;
}


/*--------------------------------------Footer--------------------------------------*/
footer {
    background-color: #5d48ff;
    min-height: 65px;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*--------------------------------------General--------------------------------------*/
.main-wrap {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    font-weight: bold;
    min-height: 759px;
    border-radius: 4px;
    background-color: #fff;
}

.main-wrap p {
    font-size: 19px;
}

@media (max-width: 1278px) {
    .main-wrap {
        margin: 20px 20px;
    }

    .header-wrap {
        margin: 0 20px;
    }
}


.app {
    font-family: Rubick;
    background-color: #ececec;
}

.app a {
    text-decoration: none;
}

.app ul li {
    list-style-type: none;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

body {
    margin: 0;
}

/*--------------------------------------Other--------------------------------------*/

.destroy {
    color: red;
}

.course-group-form {
    display: flex;
}

.course-group-form div {
    margin: 20px;
}


header a {
    text-decoration: none;
    color: white;
}

.journal-wrap {
    display: flex;
}

.journal-course {
    margin-left: 10px;
    border: 1px solid black;
}

.journal-task-block {
    display: flex;
}


.login {
    margin-left: auto;
}

.standard-list {
    padding-inline-start: 0;
    font-size: 20px;
}

.standard-list li {
    border-radius: 4px;
    background: #FAFAFA;
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.standard-list li:hover {
    background-color: #5d48ff;
}

.standard-list li:hover a {
    color: #fff;
}

.standard-list li a {
    display: block;
    padding: 16px 10px;
}

.task-list {
    padding-inline-start: 20px;
}

.topic-list {
    padding-bottom: 20px;
    border-bottom: 2px solid #a09f9f;
}

.topic-list:last-child {
    border-bottom: none;
}

.topic-list h2 {
    margin-top: 20px;
}

.topic-list li a {
    color: #5d48ff;
    font-size: 18px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.topic-list li {
    margin-top: 10px;
}

.task-list li a:before {
    content: "";
    border-left: 4px solid #a09f9f;
    margin-right: 10px;
    transition: all ease 0.3s;
    border-radius: 3px;
}

.task-list li a:hover:before {
    border-left: 4px solid #5d48ff !important;
}

.task-list li a {
    font-size: 22px;
}

.completed-task:before {
    border-left: 4px solid #00e00d !important;
}

.pending-task:before {
    border-left: 4px solid #ffb248 !important;
}

.theory:before {
    border-left: 4px solid #00ffd7 !important;
}

.advertisement:before {
    border-left: 4px solid #00ffd7 !important;
}

.task-description-info {
    display: flex;
    border-bottom: 2px solid #a09f9f;
    margin: 20px 0;
    padding-bottom: 20px;
}

.task-description-info p {
    font-size: 25px;
}

.task-info {
    display: block;
    margin-left: auto;
    border-left: 2px solid #a09f9f;
    height: 120px;
    padding-left: 20px;;
}

.rated {
    color: #00e00d;
}

.pending {
    color: #ffa249;
}

.task-info-status p {
    white-space: nowrap;
}

.task-info-status, .task-info-rating {
    display: flex;
}

.task-info-status div:first-child, .task-info-rating div:first-child {
    margin-right: 20px;
}

.task-wrap p {
    margin: 0;
}

.task-answer {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 2px solid #a09f9f;
}

.task-teacher {
    margin: 20px 0;
}

.teacher-feedback p {
    font-size: 25px;
}

.teacher-feedback {
    width: 80%;
}

.teacher-feedback span {
    color: #a09f9f;
}

#edit-task {
    padding-top: 20px;
    transition: 0.3s ease-in-out;
}

.task-button-edit button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    font-family: Rubick;
    color: #5d48ff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 2px solid #5d48ff;
}

#task-button:focus {
    outline: none;
}

#task-button:hover {
    background-color: #5d48ff;
}

#task-button:hover span {
    color: #fff !important;
}

.none-displayed {
    display: none;
}

textarea {
    resize: none;
}

.textarea-task-form {
    width: 70%;
    height: 120px;
    font-style: Rubick;
    font-size: 18px;
    border: 2px solid #a09f9f;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.task-form{
    display: flex;
}
.textarea-task-form:focus {
    border: 2px solid #5d48ff;
    outline: none;
    border-radius: 4px;
}

.submit-task-button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 4px;
    background-color: #5d48ff;
    border: none;
    font-family: Rubick;
    color: #fff;
    cursor: pointer;
}

/*--------------------------------------Drag-and-drop--------------------------------------*/



.drop-zone {
    margin-left: 20px;
    width: 30%;
    height: 75px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #a09f9f;
    border: 2px dashed #a09f9f;
    border-radius: 4px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    background-color: #5d48ff;
    background-size: cover;
    position: relative;

}

.drop-zone__thumb::after {
    content: attr(data-label);
    color: #fff;
}

/*--------------------------------------Adaptive-answer-block--------------------------------------*/
@media screen and (max-width: 520px) {
    .task-answer {
        display: block;
        border-bottom: none;
    }

    .task-info {
        border-left: none;
        padding-left: 0;
    }

    .teacher-feedback {
        width: 100%;
        border-bottom: 2px solid #a09f9f;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    #edit-task {
        border-top: 2px solid #a09f9f;
    }

    .drop-zone__prompt {
        font-size: 15px;
    }
}

.answers-blocks-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.answer-form form {
    display: grid;

}

.answer-author p {
    margin: 0;
}

.answer-form {
    position: absolute;
    width: 90%;
    bottom: 20px;
}

.answer-form:last-child {
    margin-bottom: 0;
}

.answer-form form input, .answer-form form textarea {
    margin-bottom: 20px;
    border: 2px solid #a09f9f;
    border-radius: 4px;
    font-size: 17px;
}

.answer-message p {
    margin: 0;
}

.user-answer-info {
    margin-bottom: 140px !important;
}

.answer-block div {
    margin-bottom: 20px;
}

.answer-block {
    padding: 20px;
    border: 2px solid #a09f9f;
    border-radius: 4px;
    width: 28.55%;
    margin: 20px 20px 0 0;
    min-height: 250px;
    position: relative;
    flex-basis: 342px;
}

@media screen and (min-width: 1278px) {
    .answer-block:nth-child(3n) {
        margin-right: 0;
    }
}

.submit-rated-task-rating {
    display: flex;
    font-size: 17px;
    margin-bottom: 0 !important;
}

.submit-rated-task-rating input {
    margin-bottom: 0 !important;
}

.submit-rated-task-button {
    margin-left: 20px;
    width: 100%;
    height: 50px;
    background-color: #5d48ff;
    font-family: Rubick;
    color: #fff;
    cursor: pointer;
    border: none !important;
}

.rating-of-task-form {
    text-align: center;
    font-size: 17px;
}

.answer-block:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1278px) {
    .answer-block:nth-child(2n) {
        margin-right: 0;
    }

    .answer-block {
        flex-basis: 350px;
    }
}

@media screen and (max-width: 851px) {
    .answer-block {
        margin-right: 0 !important;
    }
}

.circle {
    background: #456BD9;
    clip-path: circle(50%);
    height: 20px;
    width: 20px;
    margin-left: auto;
}

.green {
    background: #00e00d !important;
}

.orange {
    background: #ffa249 !important;
}

.author-answer-status {
    display: flex;
}
.completed-task-rating{
    margin-right: 7px;
    font-size: 22px;
}
.create-courses-btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.create-courses-btns div{
    width: 30%;
}
.create-courses-btns div button{
    font-size: 20px;
    font-style: inherit;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #5d48ff ;
    background: #fff;
    height: 60px;
    color: #5d48ff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.create-courses-btns div button:focus{
    outline: none;
}
.course-group-form ul{
    padding-left: 0;
}
.course-group-form ul li a{
    font-size: 20px;

}
.course-group-form ul li{
    margin-top: 20px;
    display: -webkit-box;
    border-bottom: 2px solid #a09f9f4f;
    padding-bottom: 3px;
}
.course-group-form ul div{
    margin: 0;
}
.course-group-form ul li div:nth-child(2){
    margin-left: auto;
}
.course-group-form ul li form input{
    display: none;
}

.selected-btn{
    background: #5d48ff  !important;
    color: #fff !important;
}
.new-form{
    margin: 20px auto !important;
    width: 50%;
}
.new-form form{
   display: grid;
    width: 100%;
}
.new-form form input, .new-form form select, .new-form form textarea{
    box-sizing: border-box;
    height: 35px;
    font-size: 20px;
    font-family: Rubick;
    border-radius: 4px;
    border: 2px solid #a09f9f;
}
.new-form form textarea{
    height: 100px;
}
.new-form form input:focus, .new-form form select:focus, .new-form form textarea:focus{
    border: 2px solid #5d48ff;
    outline: none;
}
.new-form form label{
    font-size: 22px;
    font-family: Rubick;
    margin: 10px 0 3px 0;
}
.new-form form .btn{
    font-size: 20px;
    font-style: inherit;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #5d48ff ;
    background: #fff;
    height: 60px;
    color: #5d48ff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 30px;
}
.new-form form .btn:hover{
    background-color: #5d48ff;
    color: #fff;
}
.create-task-drop-input{
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    height: 100px;
}
@media screen and (max-width: 690px) {
    .create-courses-btns {
        display: block;
    }

    .create-courses-btns div{
        margin-top: 20px;
        width: 100%;
    }
    .new-form {
        width: 100%;
    }
}
.profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background: #c1c1c1;
}
.main-profile-block{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 2px solid #a09f9f;
}
.main-profile-block p, .main-profile-block a{
    margin: 0 0 20px 20px;
    font-size: 20px;
}

.main-profile-block a{
    color: #5d48ff;
}

.my-courses-profile{
text-align: center
}
.simple-form{
    display: block;
    width: 40%;
    margin: 0 auto;
}
.simple-form div{
    display: grid;
    width: 100%;

}
.simple-form div input, .simple-form div select, .simple-form div textarea{
    height: 45px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
}
.simple-form div textarea{
    height: 150px;
}
.simple-form div button{
    font-size: 20px;
    font-style: inherit;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #5d48ff ;
    background: #fff;
    height: 60px;
    color: #5d48ff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}
.simple-form div button:hover{
    background-color: #5d48ff;
    color: #fff;
}
.forgot-register a{
    color: #5d48ff;
}
.forgot-register{
    display: flex !important;
}
.forgot-register a:nth-child(2){
    margin-left: auto;
}
/*
#00e00d - green
#fff - white
#5d48ff - nuttleberry
#a09f9f - grey
#ffa249 - orange
 */
/* some styles */
